<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/application"><img src="../images/logo.png" height="50" width="100" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/application">Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chartpath">Chart Your Path</a>
    </ul>
    <form class="d-flex">
      <a href="/users/logout"><button class="btn btn-sm btn-outline-secondary" type="button">Logout</button></a>
    </form>
  </div>
</nav>