
  #notes{
    background-color: #F5F5F5;
  }
  #submit-btn{
    margin-left: 2%;
    margin-bottom: 1%;
  }

  .app-correct-form{
    padding: 0 100px 0 100px;
  }
  .app-update-form{
    padding: 0 100px 0 100px;
  }
  .h5{
    text-align: center;
    padding-bottom: 5px;
  }
  .log-out-btn{
    padding-left: 2%;
    padding-bottom: 2%;
  }

  #appFormYa {
    padding: 20px 100px 20px 100px;
    margin: 20px 400px 50px 400px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.45);
    border-radius: 10px;
    

  }
  #appFormYa2 {
    padding: 20px 100px 20px 100px;
    margin: 20px 400px 20px 400px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.45);
    border-radius: 10px;
    
  }
  h1 {
    margin: 10px 0 25px 0;
    font-weight: bold;
  }

.table {
  font-size: 15px;
  background-color: rgba(47, 79, 79, 0.5);
  color:seashell
}

