<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Register</title>
</head>
<body>
  <h1><img src="../images/logo.png" alt=""></h1>
  <!-- <form action="/users/register" method="post">
    <h2>Register</h2>
    <p>
      <label for="email">Email</label><br>
      <input type="text" name="email" id="email" required>
    </p>
    <p>
      <label for="password">Password</label><br>
      <input type="password" name="password" id="password" required>
    </p>
    <button type="submit">Register</button>
  </form> -->

  <div id="loginFormContent">
    <form id="loginForm" action="/users/register" method="post">
      <h1 id="loginh1">Register</h1>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
        <br>
        <button type="submit" class="btn btn-dark">Register</button>
      </form>
      <br>
</body>
</html>